[Unit]
Wants=network.target
After=network.target
After=airplanes-first-run.service

[Service]
EnvironmentFile=/boot/airplanes-978env
SyslogIdentifier=airplanes-978
RuntimeDirectory=airplanes-978
User=airplanes
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/aiplanes-978-start
Type=simple
Restart=on-failure
RestartSec=30
Nice=5

[Install]
WantedBy=default.target
