
[Unit]
Description=airplanes-mlat
Wants=network.target
After=network.target
After=airplanes-first-run.service

[Service]
EnvironmentFile=/boot/airplanes-config.txt
EnvironmentFile=/boot/airplanes-env
User=airplanes
ExecStart=/usr/local/bin/mlat.sh
Type=simple
Restart=on-failure
RestartSec=30
RestartPreventExitStatus=64
SyslogIdentifier=airplanes-mlat

[Install]
WantedBy=default.target
